<div class="header">
    <h1>Kinopoisk</h1>
    <nav>
        <a routerLink="/home"><div class="c1">Home</div></a>
        <a routerLink="/films"><div class="c1">Movies</div></a>
        <a routerLink="/tv-shows"><div class="c1">TV Shows</div></a>
        <a routerLink="/people"><div class="c1">People</div></a>
    </nav>
    <div class="search">
        <input type="text" placeholder="Search">
        <button><img src="../../assets/search-icon.png" width="25px"></button>
    </div>
</div>
<div class="homepage">
    <h1>Welcome to Kinopoisk!</h1>
    <p>Discover and explore movies, TV shows, and more.</p>
    <div class="recommendations">
        <h2>Reccomendations</h2>
        <div class="recommendation" *ngFor="let film of recommendedFilms">
            <img [src]="film.poster" width="200px" alt="Poster">
            <p>{{ film.title }}</p>
          </div>
        </div>
        
</div>